@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;

  --lightgreen: #82f4b1;
  --emerald: #30c67c;

  --bittersweet: #ff715b;

  --bleudefrance: #3083dc;
  --spacecadet: #111d4a;
  --aliceblue: #d5dfe5;

  --greengradient: linear-gradient(
    90deg,
    hsla(145, 84%, 73%, 1) 0%,
    hsla(150, 61%, 48%, 1) 100%
  );

  --horizontal-margin: 5em;
}

h1,
h2,
h3 {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}
